<!DOCTYPE html>
<html>
<head>
<title>BaLaGan</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">מי בא היום לגן</a>
            (<a href='/manage'>מסך ניהול</a>)
        </div>
    </div>
    <div id="main" class="container">
        <table class="table table-striped">
            <tr> <td></td> <td></td> <td></td> <td></td> </tr>

            <!-- ko foreach: children -->
            <tr>
                <td>
                    <span data-bind="visible: !arrived()">
                        <button  data-bind="click: $parent.set_arrived"class="btn">הגיע/ה</button>
                    </span>
                </td>
                <td><b data-bind="text: name"></b></td>
                <td><img src="https://s-media-cache-ak0.pinimg.com/originals/b3/ac/66/b3ac66a299b5496846ffa50eac790d49.png" width=100px></td>
                <td>
                    <span data-bind="visible: arrived" class="label label-success">פה</span>
                    <span data-bind="visible: !arrived()" class="label label-important">לא פה</span>
                </td>
            </tr>
            <!-- /ko -->
        </table>
    </div>
    <script type="text/javascript">
        ajax_msg = function(uri, method, data) {
            var request = {
                url: uri,
                type: method,
                contentType: "application/json",
                accepts: "application/json",
                cache: false,
                dataType: 'json',
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization",
                        "Basic " + btoa(self.username + ":" + self.password));
                },
                error: function(jqXHR) {
                    console.log("ajax error " + jqXHR.status);
                }
            };
            return $.ajax(request);
        }


        function ChildrenViewModel() {
            var self = this;
            self.childrenURI = '{{ api_ip }}/balagan/api/v1.0/children';

            self.children = ko.observableArray();

            self.refresh = function() {
                ajax_msg(self.childrenURI, 'GET').done(function(data) {
                    self.children.removeAll()
                    for (var name in data.children) {
                        self.children.push({
                            name: ko.observable(name),
                            mails: ko.observable(data.children[name].mails),
                            image_url: ko.observable(data.children[name].image_url),
                            arrived: ko.observable(data.children[name].arrived)
                        });
                    }
                });
            }

            self.set_arrived = function(child) {
                ajax_msg(self.childrenURI + '/' + child.name(), 'PUT', { arrived: true }).done(function(data) {
                    self.refresh()
                });
            }

            self.refresh();
        }

        var childrenViewModel = new ChildrenViewModel();
        ko.applyBindings(childrenViewModel, $('#main')[0]);

    </script>
</body>
</html>
